* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #84a59d;
    color: rgb(122, 30, 30);
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: #84a59d;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

.about-us h2, .vision h3, .mission h3 {
    color: #cc0000;
    border-bottom: 2px solid #cc0000;
    display: inline-block;
    margin-bottom: 10px;
}

.about-content {
    display: flex;
    gap: 20px;
}

.about-content img {
    width: 300px;
    height: auto;
}

.about-content p {
    flex: 1;
}

.vision-mission {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.vision, .mission {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #84a59d;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

.footer-links a {
    color: white;
    margin: 5px 10px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #d3edea;
}

.footer-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right:
}

.footer-contact p {
    margin: 5px 0;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }

    .about-content {
        flex-direction: column;
    }

    .vision-mission {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}
